body {
    background-image: url(/Images/Images/Cafe-background-1.jpg);
    background-size: 1150px 1000px;
    background-position: bottom;
    background-attachment: fixed;
    background-color: antiquewhite;
}

nav {
    color: white;
    border: rgba(202, 192, 124, 0.863) solid 3px;
    border-radius: 5px 10px 10px 5px;
    padding: 30px;
    background-color: rgba(75, 51, 15, 0.747);
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav, img, h1, div {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 5px 10px 10px 5px;
}

a:link {
    color: black;
}

a:visited {
    color: rgb(219, 183, 183);
}

a:hover {
    color:dodgerblue;
    /*forgot semis up until this point and am not a little bitch heh heh heh*/
}


img {
    margin: auto;
    border:rgba(202, 192, 124, 0.863) solid 1px;
    padding: 0.25px;
}

.recipepic {
    position: relative;
}

div {
    border: rgba(202, 192, 124, 0.863) double 4px;
    padding: 30px;
    background-color:rgba(202, 192, 124, 0.5);
}

h1 {
    color: black;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: rgba(202, 192, 124, 0.918) double 3px;
    background-color: rgba(202, 192, 124, 0.5);
}

h2 {
    color: black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: rgb(8, 8, 37)
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    color: black;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#redsauce {
    position: top left;
    margin: 10px;
}

#braciole {
    position: relative;
    margin: 10px;
}

#garlicbread {
    object-position: top right;
    margin: 10px;
}

.recipe {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
    border: red solid 5px;
}